@use "../abstracts" as *;

.btn {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s;
    font-family: inherit;
    font-weight: $default-font-weight-btn;
    cursor: pointer;
    border: none;
  }

  &:active {
    transform: scale(1.02);
  }

  &:focus,
  :focus-visible {
    outline-width: 3px;
    outline-style: dashed;
    outline-offset: 5px;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &--primary {
    background-color: $color-pink;
    font-size: scaleSize(12px, 14px);
    line-height: scaleSize(16px, 20px);
    color: $color-white;
    padding: scaleSize(12px, 18px);
    width: min(100% - 2 * 32px, scaleSize(240px, 280px));
    border-radius: scaleSize(20px, 28px);
    box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185);

    &:hover {
      background: $color-light-pink;
    }

    &:focus,
    :focus-visible {
      outline-color: $color-pink;
    }
  }

  &--secondary {
    background: $color-white;
    color: $color-very-dark-cyan;
    font-size: scaleSize(10px, 14px);
    line-height: scaleSize(14px, 19px);
    padding: scaleSize(5px, 14px);
    width: min(32%, scaleSize(96px, 200px));
    border-radius: scaleSize(12px, 24px);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.0954201);

    &:hover {
      color: $color-grey;
    }

    &:focus,
    :focus-visible {
      outline-color: currentColor;
    }
  }

  &--submit {
    font-size: 16px;
    line-height: 24px;
    padding: 12px 41px;
    border-radius: 5px;
  }
}
