@use "../abstracts" as *;

.image {
    &--hero {
        width: min(100%, 680px);

        @include respond(medium-screen) {
            width: scaleSize(296px, 680px, 768px, 1440px);
        }
    }

    &--story-1 {
        width: min(406px, 100%);

        @include respond(medium-screen) {
            width: scaleSize(236px, 406px);
            order: 2;
        }
    }

    &--story-2 {
        width: min(417px, 100%);

        @include respond(medium-screen) {
            width: scaleSize(242px, 417px);
        }
    }

    &--story-3 {
        width: min(420px, 100%);

        @include respond(medium-screen) {
            width: scaleSize(244px, 420px);
            order: 2;
        }
    }
}
