@use "../abstracts" as *;

.logo {
    width: scaleSize(104px, 200px, 375px, 768px);

    &--footer {
        width: auto;
        height: 100%;
        margin-right: auto;
        margin-left: -10px;
    }
}
