@use "../abstracts" as *;

.textbox {
    @include flex-column-align-center;

    &--hero {
        width: min(100%, 400px);
        @include flex-column-align-center;

        @include respond(medium-screen) {
            width: scaleSize(304px, 536px, 768px, 1440px);
            align-items: flex-start;
            text-align: left;
        }

        & .paragraph {
            margin-top: scaleSize(24px, 32px);
        }
    }

    &--stories {
        margin-top: 16px;

        @include respond(medium-screen) {
            margin-top: 0px;
            align-items: flex-start;
            text-align: left;
            width: scaleSize(256px, 500px, 768px, 1440px);
        }

        & .paragraph {
            margin-top: 16px;
            max-width: 520px;

            @include respond(medium-screen) {
                margin-top: scaleSize(16px, 26px, 768px, 1440px);
            }
        }
    }

    &--form {
        align-items: flex-start;
        text-align: left;
        max-width: 344px;

        & .paragraph {
            margin-top: 16px;
        }
    }
}
