@use "../abstracts" as *;

.header {
    @include flex-column-align-center;
    width: 100%;
    text-align: center;

    &__inner {
      width: min(100% - scaleSize(1rem, 5rem), 80rem);
      margin-top: scaleSize(27px, 68px);
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }